.git
.env
.env.backup
.phpunit.result.cache
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*
public/hot
public/storage
*.sqlite
*.log
